@import-normalize;

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;

  font-family: Helvetica, sans-serif;

  display: flex;
  align-items: center;
  justify-content: center;
}

.comment-card {
  height: 80px;
  padding: 12px 24px;
  margin: 24px;

  position: relative;

  font-family: 'Palatino';
  font-style: italic;

  background-color: #f5f5f5;
  border-radius: 8px;
  border: 1px solid #767676;
}

.comment-card .author-tag {
  position: absolute;
  bottom: 8px;
  right: 16px;
}
